body {
  text-align: center;
  background: green;
  color: yellow;
  font-weight: bold;
}

h1 {
  color: goldenrod;
}

p{
  color: white;
}

button {
  color :green;
  font-weight: bold;
  background-color: goldenrod;
  border: none;  
  padding: 10px;
  border-radius: 5px; 
  display: block;
  margin: 8px auto; 
  width: 200px;
}