input {
  width:400px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
}

ul li a {
  color: green;
  text-decoration: none;
}
ul li {
  list-style: none;
}
button {
  margin: 5px auto;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  color: white;
  border: none;
}


#save-btn {
  background-color: white;
  color:green;
  border:1px solid green;
}

#del-btn {
  background-color: white;
  color:green;
  border:1px solid green;
}